* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-height: 100vh;
}

.filter_class {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.filters {
  width: 100%;
  border: 3px solid white;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}

.header_name {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

/* .ReactTable .rt-tbody .rt-td {
  border-right: none !important;
} */

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 15px 5px !important;
}
